{
    "info": {
        "title": "SleepHQ",
        "description": "SleepHQ is an online platform for CPAP users to view, share and analyse their data to get the best night's sleep possible. Visit https://sleephq.com for more details.",
        "version": "1.0.0"
    },
    "swagger": "2.0",
    "produces": [
        "application/vnd.api+json",
        "application/json"
    ],
    "securityDefinitions": {
        "oauth2": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "/oauth/token",
            "scopes": {
                "read": "Read access to the API",
                "write": "Write access to the API",
                "delete": "Delete resources using the API"
            }
        }
    },
    "security": [
        {
            "oauth2": [
                "read",
                "write",
                "delete"
            ]
        }
    ],
    "host": "sleephq.com",
    "basePath": "/api",
    "tags": [
        {
            "name": "Masks",
            "description": "Operations about Masks"
        },
        {
            "name": "added_by",
            "description": "Operations about added_bys"
        },
        {
            "name": "Current User",
            "description": "Endpoints relating to the current user as defined by the API key being used"
        },
        {
            "name": "Teams",
            "description": "Teams are the internal representation of accounts in the system. Each user can belong to multiple teams and each team can have multiple users"
        },
        {
            "name": "Patients",
            "description": "For SleepHQ Consult accounts, query information about your patients with this endpoint"
        },
        {
            "name": "Machines",
            "description": "The Machine class represents both CPAP and pulse oximeters (eg O2 Rings) in the system."
        },
        {
            "name": "Machine Dates",
            "description": "The MachineDate class represents a particular date of data for a given machine."
        },
        {
            "name": "Imports",
            "description": "The Import class represents a single instance of a data import for a device. Each import will have one or more files associated with it"
        },
        {
            "name": "Import Files",
            "description": "Import Files represent each individual file that is uploaded for a given import."
        },
        {
            "name": "Journals",
            "description": "There is one journal entry per user per day and it can be used to track metrics outside of devices like weight, feeling score, etc."
        },
        {
            "name": "Devices",
            "description": "The Device class represents the type of device being used. For example, ResMed AirSense 11."
        }
    ],
    "paths": {
        "/v1/me": {
            "post": {
                "description": "Update the current user",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "first_name",
                        "description": "First name",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "last_name",
                        "description": "Last name",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "email",
                        "description": "Email",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_UserSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Current User"
                ],
                "operationId": "postV1Me"
            },
            "get": {
                "description": "Details about the current user",
                "produces": [
                    "application/vnd.api+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_UserSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Current User"
                ],
                "operationId": "getV1Me"
            }
        },
        "/v1/teams/{team_id}/journals": {
            "post": {
                "description": "Add a New Journal",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "date",
                        "description": "Date",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "step_count",
                        "description": "Step Count",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "weight_grams",
                        "description": "Weight (Grams)",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "feeling_score",
                        "description": "Feeling Score",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "active_energy_joules",
                        "description": "Active Energy (Joules)",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "notes",
                        "description": "Notes",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "sleep_stages",
                        "description": "Sleep Stages",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_JournalSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Journals"
                ],
                "operationId": "postV1TeamsTeamIdJournals"
            },
            "get": {
                "description": "List Journals",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_JournalSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Journals"
                ],
                "operationId": "getV1TeamsTeamIdJournals"
            }
        },
        "/v1/teams/{team_id}/patients": {
            "get": {
                "description": "List Patients",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Your clinic account team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_PatientSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Patients"
                ],
                "operationId": "getV1TeamsTeamIdPatients"
            }
        },
        "/v1/teams/{team_id}/masks": {
            "get": {
                "description": "List Masks",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_MaskSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Masks"
                ],
                "operationId": "getV1TeamsTeamIdMasks"
            }
        },
        "/v1/teams/{team_id}/machines": {
            "get": {
                "description": "List Machines",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_MachineSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Machines"
                ],
                "operationId": "getV1TeamsTeamIdMachines"
            }
        },
        "/v1/teams/{team_id}/imports": {
            "post": {
                "description": "Add a New Import",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "programatic",
                        "description": "Deprecated.",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "device_id",
                        "description": "The device type that the data is from. Find a list of device ids using the /devices endpoint.",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "mask_id",
                        "description": "The mask used for this import. Find the team's masks using the /teams/:team_id/masks endpoint.",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "The name of the import to show in the UI.",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_ImportSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Imports"
                ],
                "operationId": "postV1TeamsTeamIdImports"
            },
            "get": {
                "description": "List Imports",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_ImportSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Imports"
                ],
                "operationId": "getV1TeamsTeamIdImports"
            }
        },
        "/v1/teams/{team_id}/files": {
            "get": {
                "description": "List files",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "Team ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_Imports_FileSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Import Files"
                ],
                "operationId": "getV1TeamsTeamIdFiles"
            }
        },
        "/v1/teams": {
            "get": {
                "description": "List Accounts",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_TeamSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Teams"
                ],
                "operationId": "getV1Teams"
            }
        },
        "/v1/imports/{id}": {
            "delete": {
                "description": "Delete a Import",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Import ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "purge_files",
                        "description": "If true, the files associated with the import will be deleted. Defaults to false.",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Delete a Import"
                    }
                },
                "tags": [
                    "Imports"
                ],
                "operationId": "deleteV1ImportsId"
            },
            "get": {
                "description": "Retrieve a Import",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Import ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_ImportSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Imports"
                ],
                "operationId": "getV1ImportsId"
            }
        },
        "/v1/imports/{import_id}/files": {
            "post": {
                "description": "Add a New File",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "import_id",
                        "description": "The id of the Import",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "The name of the file",
                        "type": "string",
                        "required": true,
                        "example": "STR.edf"
                    },
                    {
                        "in": "formData",
                        "name": "path",
                        "description": "The path to the file relative to the SD card root.",
                        "type": "string",
                        "required": true,
                        "example": "\"./\" for a file that is at the root. \"./DATALOG/20230924/\" for a file in a DATALOG folder. Note do not include the quote marks (\")"
                    },
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "The file object. Optional if the file has already been uploaded.",
                        "type": "file",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "content_hash",
                        "description": "The calculated content_hash of the file. See the /v1/imports/files/calculate_content_hash endpoint for more information",
                        "type": "string",
                        "required": true,
                        "example": "d41d8cd98f00b204e9800998ecf8427e"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_Imports_FileSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Import Files"
                ],
                "operationId": "postV1ImportsImportIdFiles"
            },
            "get": {
                "description": "List files",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "import_id",
                        "description": "The id of the Import",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_Imports_FileSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Import Files"
                ],
                "operationId": "getV1ImportsImportIdFiles"
            }
        },
        "/v1/imports/{id}/process_files": {
            "post": {
                "description": "Start processing the files from the import",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Import ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_ImportSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Imports"
                ],
                "operationId": "postV1ImportsIdProcessFiles"
            }
        },
        "/v1/imports/files/{id}": {
            "delete": {
                "description": "Delete a File",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "File id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Delete a File"
                    }
                },
                "tags": [
                    "Import Files"
                ],
                "operationId": "deleteV1ImportsFilesId"
            },
            "get": {
                "description": "Retrieve a File. Note: the download_url param is a signed URL that will expire in 5 minutes.",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "File id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_Imports_FileSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Import Files"
                ],
                "operationId": "getV1ImportsFilesId"
            }
        },
        "/v1/imports/files/calculate_content_hash": {
            "post": {
                "description": "Calculate the content hash of a file when testing your content_hash algorithm.\nNote - do not use this end point to calculate the content in your finished application.\nThis end point is only for use when validating your own implementation of the content_hash algorithm.\nExcessive use of this end point may result in your account being rate limited.\nThe content_hash is a MD5 hash of the file's content and name joined together.\nFor example, if the file's name is \"file.txt\" and the file's content is \"Hello, World!\",\nthe content_hash would be the MD5 hash of the string \"Hello, World!file.txt\"\nDo not include the file's path when calculating the content hash.\n",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "The name of the file",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "The file to calculate the content hash for",
                        "type": "file",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "tags": [
                    "Import Files"
                ],
                "operationId": "postV1ImportsFilesCalculateContentHash"
            }
        },
        "/v1/machines/{id}": {
            "get": {
                "description": "Retrieve a Machine",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Machine ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_MachineSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Machines"
                ],
                "operationId": "getV1MachinesId"
            }
        },
        "/v1/machines/{machine_id}/machine_dates/{date}": {
            "get": {
                "description": "Find a Machine Date",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "machine_id",
                        "description": "Machine ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "date",
                        "description": "Date",
                        "type": "string",
                        "format": "date",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_MachineDateSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Machine Dates"
                ],
                "operationId": "getV1MachinesMachineIdMachineDatesDate"
            }
        },
        "/v1/machines/{machine_id}/machine_dates": {
            "get": {
                "description": "List Machine Dates",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "machine_id",
                        "description": "Machine ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "sort_order",
                        "description": "Sort Order defaults to desc so the most recent record will be first",
                        "type": "string",
                        "default": "desc",
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page of results to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 100,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_MachineDateSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Machine Dates"
                ],
                "operationId": "getV1MachinesMachineIdMachineDates"
            }
        },
        "/v1/devices": {
            "get": {
                "description": "List Devices",
                "produces": [
                    "application/vnd.api+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Api_V1_DeviceSerializer"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Devices"
                ],
                "operationId": "getV1Devices"
            }
        },
        "/v1/machine_dates/{id}": {
            "put": {
                "description": "Update a Machine Date",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Machine Date ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "time_offset",
                        "description": "Time Offset",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_MachineDateSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Machine Dates"
                ],
                "operationId": "putV1MachineDatesId"
            },
            "get": {
                "description": "Retrieve a Machine Date",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Machine Date ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_MachineDateSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Machine Dates"
                ],
                "operationId": "getV1MachineDatesId"
            }
        },
        "/v1/added_by/{added_by_id}/files/batch": {
            "post": {
                "description": "Batch create files for an Uploader or Import",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "added_by_id",
                        "description": "The serial number of the uploader adding the file or the ID of the Import",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "added_by_type",
                        "description": "The type of the added_by object. Either 'Uploader' or 'Import'",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "files[][name]",
                        "description": "Name",
                        "type": "array",
                        "required": true,
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "files[][path]",
                        "description": "Path",
                        "type": "array",
                        "required": true,
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "files[][content_hash]",
                        "description": "Content Hash",
                        "type": "array",
                        "required": true,
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "files[][file]",
                        "description": "File",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "file"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "files[][fingerprint_base64]",
                        "description": "Fingerprint",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "files[][size]",
                        "description": "Size",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Batch create files for an Uploader or Import"
                    }
                },
                "tags": [
                    "added_by"
                ],
                "operationId": "postV1AddedByAddedByIdFilesBatch"
            }
        },
        "/v1/journals/{id}": {
            "put": {
                "description": "Update a Journal",
                "produces": [
                    "application/vnd.api+json"
                ],
                "consumes": [
                    "multipart/form-data",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Journal ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "date",
                        "description": "Date",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "step_count",
                        "description": "Step Count",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "weight_grams",
                        "description": "Weight (Grams)",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "feeling_score",
                        "description": "Feeling Score",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "active_energy_joules",
                        "description": "Active Energy (Joules)",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "notes",
                        "description": "Notes",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "sleep_stages",
                        "description": "Sleep Stages",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_JournalSerializer"
                        }
                    },
                    "400": {
                        "description": "Missing or Bad Parameters"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "406": {
                        "description": "Validation Errors"
                    },
                    "422": {
                        "description": "Record Not Saved"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Journals"
                ],
                "operationId": "putV1JournalsId"
            },
            "get": {
                "description": "Retrieve a Journal",
                "produces": [
                    "application/vnd.api+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Journal ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Api_V1_JournalSerializer"
                        }
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Permission Denied"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "429": {
                        "description": "API Rate Limit Exceeded"
                    }
                },
                "tags": [
                    "Journals"
                ],
                "operationId": "getV1JournalsId"
            }
        }
    },
    "definitions": {
        "Api_V1_UserSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "first_name": {
                                    "type": "string"
                                },
                                "last_name": {
                                    "type": "string"
                                },
                                "time_zone": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {
                                "teams": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "memberships": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "user",
                        "attributes": {
                            "id": 7483825833,
                            "email": "suscipit",
                            "name": "quia",
                            "first_name": "laboriosam",
                            "last_name": "exercitationem",
                            "time_zone": "eius",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800"
                        },
                        "relationships": {
                            "teams": {
                                "data": [
                                    {
                                        "id": 1,
                                        "type": "teams"
                                    }
                                ]
                            },
                            "memberships": {
                                "data": [
                                    {
                                        "id": 1,
                                        "type": "memberships"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "description": "Api_V1_UserSerializer model"
        },
        "Api_V1_JournalSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "team_id": {
                                    "type": "integer"
                                },
                                "date": {
                                    "type": "date"
                                },
                                "step_count": {
                                    "type": "integer"
                                },
                                "weight_grams": {
                                    "type": "integer"
                                },
                                "feeling_score": {
                                    "type": "integer"
                                },
                                "sleep_stages": {
                                    "type": "text"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                },
                                "notes": {
                                    "type": "string"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "journal",
                        "attributes": {
                            "id": 3068871461,
                            "team_id": 5534846001,
                            "date": "2026-05-29",
                            "step_count": 7045112780,
                            "weight_grams": 1029906878,
                            "feeling_score": 4780087457,
                            "sleep_stages": "Quis provident maiores. Veritatis omnis ab. Iste rerum error.",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800",
                            "notes": "libero"
                        },
                        "relationships": {}
                    }
                }
            },
            "description": "Api_V1_JournalSerializer model"
        },
        "Api_V1_PatientSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "team_id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {
                                "machines": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "patient",
                        "attributes": {
                            "id": 4651324375,
                            "team_id": 7874935231,
                            "name": "voluptatem",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800"
                        },
                        "relationships": {
                            "machines": {
                                "data": [
                                    {
                                        "id": 1,
                                        "type": "machines"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "description": "Api_V1_PatientSerializer model"
        },
        "Api_V1_MaskSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "nickname": {
                                    "type": "string"
                                },
                                "purchase_date": {
                                    "type": "date"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                },
                                "average_ahi": {
                                    "type": "decimal"
                                },
                                "average_pressure": {
                                    "type": "decimal"
                                },
                                "average_leak_rate": {
                                    "type": "decimal"
                                },
                                "average_usage_per_night": {
                                    "type": "integer"
                                },
                                "last_used_on": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "image_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "mask",
                        "attributes": {
                            "id": 4411114765,
                            "nickname": "dolore",
                            "purchase_date": "2026-05-29",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800",
                            "average_ahi": "distinctio",
                            "average_pressure": "accusamus",
                            "average_leak_rate": "quo",
                            "average_usage_per_night": 7343703160,
                            "last_used_on": "nostrum",
                            "name": "veritatis",
                            "description": "autem",
                            "image_url": "ea"
                        },
                        "relationships": {}
                    }
                }
            },
            "description": "Api_V1_MaskSerializer model"
        },
        "Api_V1_MachineSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "team_id": {
                                    "type": "integer"
                                },
                                "model": {
                                    "type": "string"
                                },
                                "brand": {
                                    "type": "string"
                                },
                                "serial_number": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "machine",
                        "attributes": {
                            "id": 7418706951,
                            "team_id": 3975117618,
                            "model": "exercitationem",
                            "brand": "culpa",
                            "serial_number": "laudantium",
                            "name": "quam",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800"
                        },
                        "relationships": {}
                    }
                }
            },
            "description": "Api_V1_MachineSerializer model"
        },
        "Api_V1_ImportSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "team_id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "file_size": {
                                    "type": "integer"
                                },
                                "progress": {
                                    "type": "integer"
                                },
                                "machine_id": {
                                    "type": "integer"
                                },
                                "device_id": {
                                    "type": "integer"
                                },
                                "mask_id": {
                                    "type": "integer"
                                },
                                "programatic": {
                                    "type": "boolean"
                                },
                                "failed_reason": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {
                                "files": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "import",
                        "attributes": {
                            "id": 9704033793,
                            "team_id": 1235126622,
                            "name": "corrupti",
                            "status": 4073212970,
                            "file_size": 4154191772,
                            "progress": 6898968960,
                            "machine_id": 6025024003,
                            "device_id": 7180971136,
                            "mask_id": 4637817086,
                            "programatic": false,
                            "failed_reason": "et",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800"
                        },
                        "relationships": {
                            "files": {
                                "data": [
                                    {
                                        "id": 1,
                                        "type": "files"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "description": "Api_V1_ImportSerializer model"
        },
        "Api_V1_Imports_FileSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "added_by_id": {
                                    "type": "integer"
                                },
                                "added_by_type": {
                                    "type": "string"
                                },
                                "content_hash": {
                                    "type": "string"
                                },
                                "team_id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "path": {
                                    "type": "string"
                                },
                                "size": {
                                    "type": "integer"
                                },
                                "fingerprint_base64": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                },
                                "download_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "imports/file",
                        "attributes": {
                            "id": 2873870533,
                            "added_by_id": 8555662699,
                            "added_by_type": "doloremque",
                            "content_hash": "delectus",
                            "team_id": 4458777480,
                            "name": "architecto",
                            "path": "mollitia",
                            "size": 8677097402,
                            "fingerprint_base64": "quo",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800",
                            "download_url": "non"
                        },
                        "relationships": {}
                    }
                }
            },
            "description": "Api_V1_Imports_FileSerializer model"
        },
        "Api_V1_TeamSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "owner_id": {
                                    "type": "integer"
                                },
                                "time_zone": {
                                    "type": "string"
                                },
                                "locale": {
                                    "type": "string"
                                },
                                "energy_unit": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                },
                                "teams_type": {
                                    "type": "string"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {
                                "machines": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "team",
                        "attributes": {
                            "id": 4105182850,
                            "name": "sapiente",
                            "owner_id": 1996649167,
                            "time_zone": "vel",
                            "locale": "velit",
                            "energy_unit": "repudiandae",
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800",
                            "teams_type": "quidem"
                        },
                        "relationships": {
                            "machines": {
                                "data": [
                                    {
                                        "id": 1,
                                        "type": "machine"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "description": "Api_V1_TeamSerializer model"
        },
        "Api_V1_MachineDateSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "usage": {
                                    "type": "string"
                                },
                                "machine_id": {
                                    "type": "integer"
                                },
                                "date": {
                                    "type": "date"
                                },
                                "time_offset": {
                                    "type": "integer"
                                },
                                "created_at": {
                                    "type": "datetime"
                                },
                                "updated_at": {
                                    "type": "datetime"
                                },
                                "large_leak": {
                                    "type": "integer"
                                },
                                "ahi_summary": {
                                    "type": "jsonb"
                                },
                                "pressure_summary": {
                                    "type": "jsonb"
                                },
                                "leak_rate_summary": {
                                    "type": "jsonb"
                                },
                                "flow_limit_summary": {
                                    "type": "jsonb"
                                },
                                "resp_rate_summary": {
                                    "type": "jsonb"
                                },
                                "epap_summary": {
                                    "type": "jsonb"
                                },
                                "machine_settings": {
                                    "type": "jsonb"
                                },
                                "pulse_rate_summary": {
                                    "type": "jsonb"
                                },
                                "spo2_summary": {
                                    "type": "jsonb"
                                },
                                "movement_summary": {
                                    "type": "jsonb"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "machine_date",
                        "attributes": {
                            "id": 6008214737,
                            "usage": "distinctio",
                            "machine_id": 4601888550,
                            "date": "2026-05-29",
                            "time_offset": 2151552001,
                            "created_at": "2026-05-29 15:57:30 +0800",
                            "updated_at": "2026-05-29 15:57:30 +0800",
                            "large_leak": 4822637256,
                            "ahi_summary": {
                                "example": "object"
                            },
                            "pressure_summary": {
                                "example": "object"
                            },
                            "leak_rate_summary": {
                                "example": "object"
                            },
                            "flow_limit_summary": {
                                "example": "object"
                            },
                            "resp_rate_summary": {
                                "example": "object"
                            },
                            "epap_summary": {
                                "example": "object"
                            },
                            "machine_settings": {
                                "example": "object"
                            },
                            "pulse_rate_summary": {
                                "example": "object"
                            },
                            "spo2_summary": {
                                "example": "object"
                            },
                            "movement_summary": {
                                "example": "object"
                            }
                        },
                        "relationships": {}
                    }
                }
            },
            "description": "Api_V1_MachineDateSerializer model"
        },
        "Api_V1_DeviceSerializer": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string"
                        },
                        "attributes": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "brand": {
                                    "type": "string"
                                },
                                "device_type": {
                                    "type": "string"
                                }
                            }
                        },
                        "relationships": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "example": {
                        "id": 1,
                        "type": "device",
                        "attributes": {
                            "id": 1726770795,
                            "name": "dolores",
                            "brand": "sequi",
                            "device_type": "fuga"
                        },
                        "relationships": {}
                    }
                }
            },
            "description": "Api_V1_DeviceSerializer model"
        }
    }
}
